body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: rgb(73, 71, 71);
}
h1 {
  font-size: 100px;
  font-weight: 700;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 25px;
}
.flexi {
  display: flex;
}

.orange-color {
  color: orange;
}

.welcome-area {
  margin-bottom: 60px;
}
.welcome-msg {
  padding-left: 50px;
  padding-top: 50px;
  width: 50%;
}
.welcome-msg p {
  padding-right: 10px;
  padding-bottom: 20px;
}
.welcome-img {
  width: 50%;
}
.welcome-img img {
  width: 80%;
}

.link-button {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-image: linear-gradient(orange, tomato);
  border-radius: 20px;
}

/* About Section */
.about-area {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

.about-img {
  width: 60%;
}
.about-img img {
  width: 80%;
}

.about-txt {
  width: 40%;
  text-align: left;
  padding-right: 150px;
  margin-top: 150px;
  margin-left: 50px;
  line-height: 25px;
}

.about-txt p {
  padding-bottom: 50px;
}

/* Recipies Section */

.recipies-area {
  margin-bottom: 100px;
}

.recipies-intro {
  text-align: center;
  width: 40%;
  margin: 0 auto;
  padding: 10px 100px;
}

.recipies-item {
  width: 30%;
  margin: 0 35px;
  padding: 10px 10px 0;
  border-radius: 10px;
  box-shadow: 0 0 5px 10px rgb(230, 228, 228);
}
.recipies-item p {
  line-height: 25px;
}
.recipies-item img {
  width: 100%;
  text-align: center;
  border-radius: 20px;
}

/* Counter Area */

.counter-area {
  border-radius: 10px;
  box-shadow: 0 0 5px 10px rgb(230, 228, 228);
  margin: 0 35px;
  margin-bottom: 100px;
}
.counter-area h2 {
  margin-bottom: 5px;
  margin-top: 10px;
}
.counter-item {
  width: 30%;
  margin-left: 3%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

/* Footer Area */
footer {
  background: black;
  text-align: center;
  padding: 20px 10px 50px;
}
footer small {
  color: #fff;
}
